<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Document</title>
</head>
<body>
    <main class="main-404">
        <h1 class="main__heading">
            404 Not Found
        </h1>
        <p class="main__information">
            The page you are trying to access does not exist or isn't found under the following address. Please, go to the home page of this website for more information about this project.
        </p>
        <a href="/" class="link">
            Go home...
        </a>
    </main>
</body>
</html>